.display-none {
  display: none;
}
.display-block {
  display: block;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.direction-column {
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
}
.direction-row {
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
}
.flex-start {
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.flex-center {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-end {
  -webkit-align-items: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.mt-mr {
  margin-top: 5px;
}
.mt-xs {
  margin-top: 10px;
}
.mt-sm {
  margin-top: 10px;
}
.mt-md {
  margin-top: 20px;
}
.mt-lg {
  margin-top: 40px;
}
.mt-mg {
  margin-top: 60px;
}
.mt-mg-s {
  margin-top: 80px;
}
.mb-mr {
  margin-bottom: 5px;
}
.mb-xs {
  margin-bottom: 10px;
}
.mb-sm {
  margin-bottom: 10px;
}
.mb-md {
  margin-bottom: 20px;
}
.mb-lg {
  margin-bottom: 40px;
}
.mb-mg {
  margin-bottom: 60px;
}
.mb-mg-s {
  margin-bottom: 80px;
}
.ml-mr {
  margin-bottom: 5px;
}
.ml-xs {
  margin-bottom: 10px;
}
.ml-sm {
  margin-bottom: 10px;
}
.ml-md {
  margin-bottom: 20px;
}
.ml-lg {
  margin-bottom: 40px;
}
.ml-mg {
  margin-bottom: 60px;
}
.ml-mg-s {
  margin-bottom: 80px;
}
.mr-mr {
  margin-bottom: 5px;
}
.mr-xs {
  margin-bottom: 10px;
}
.mr-sm {
  margin-bottom: 10px;
}
.mr-md {
  margin-bottom: 20px;
}
.mr-lg {
  margin-bottom: 40px;
}
.mr-mg {
  margin-bottom: 60px;
}
.mr-mg-s {
  margin-bottom: 80px;
}
.pt-pr {
  margin-top: 5px;
}
.pt-xs {
  margin-top: 10px;
}
.pt-sm {
  margin-top: 10px;
}
.pt-md {
  margin-top: 20px;
}
.pt-lg {
  margin-top: 40px;
}
.pt-mg {
  margin-top: 60px;
}
.pt-mg-s {
  margin-top: 80px;
}
.pb-pr {
  margin-bottom: 5px;
}
.pb-xs {
  margin-bottom: 10px;
}
.pb-sm {
  margin-bottom: 10px;
}
.pb-md {
  margin-bottom: 20px;
}
.pb-lg {
  margin-bottom: 40px;
}
.pb-mg {
  margin-bottom: 60px;
}
.pb-mg-s {
  margin-bottom: 80px;
}
.pl-pr {
  margin-bottom: 5px;
}
.pl-xs {
  margin-bottom: 10px;
}
.pl-sm {
  margin-bottom: 10px;
}
.pl-md {
  margin-bottom: 20px;
}
.pl-lg {
  margin-bottom: 40px;
}
.pl-mg {
  margin-bottom: 60px;
}
.pl-mg-s {
  margin-bottom: 80px;
}
.pr-pr {
  margin-bottom: 5px;
}
.pr-xs {
  margin-bottom: 10px;
}
.pr-sm {
  margin-bottom: 10px;
}
.pr-md {
  margin-bottom: 20px;
}
.pr-lg {
  margin-bottom: 40px;
}
.pr-mg {
  margin-bottom: 60px;
}
.pr-mg-s {
  margin-bottom: 80px;
}
.fz-mr {
  font-size: 8px;
}
.fz-mr h1,
.fz-mr h2,
.fz-mr h3,
.fz-mr h4,
.fz-mr h5,
.fz-mr h6 {
  font-size: 8px;
}
.fz-mr p,
.fz-mr b,
.fz-mr i,
.fz-mr strong {
  font-size: 8px;
}
.fz-mr p label {
  font-size: 8px;
}
.fz-mr a:not(.btn) {
  font-size: 8px;
}
.fz-mr ul {
  font-size: 8px;
}
.fz-mr ul li a:not(.btn) {
  font-size: 8px;
}
.fz-xs {
  font-size: 10px;
}
.fz-xs h1,
.fz-xs h2,
.fz-xs h3,
.fz-xs h4,
.fz-xs h5,
.fz-xs h6 {
  font-size: 10px;
}
.fz-xs p,
.fz-xs b,
.fz-xs i,
.fz-xs strong {
  font-size: 10px;
}
.fz-xs p label {
  font-size: 10px;
}
.fz-xs a:not(.btn) {
  font-size: 10px;
}
.fz-xs ul {
  font-size: 10px;
}
.fz-xs ul li a:not(.btn) {
  font-size: 10px;
}
.fz-sm {
  font-size: 12px;
}
.fz-sm h1,
.fz-sm h2,
.fz-sm h3,
.fz-sm h4,
.fz-sm h5,
.fz-sm h6 {
  font-size: 12px;
}
.fz-sm p,
.fz-sm b,
.fz-sm i,
.fz-sm strong {
  font-size: 12px;
}
.fz-sm p label {
  font-size: 12px;
}
.fz-sm a:not(.btn) {
  font-size: 12px;
}
.fz-sm ul {
  font-size: 12px;
}
.fz-sm ul li a:not(.btn) {
  font-size: 12px;
}
.fz-md {
  font-size: 14px;
}
.fz-md h1,
.fz-md h2,
.fz-md h3,
.fz-md h4,
.fz-md h5,
.fz-md h6 {
  font-size: 14px;
}
.fz-md p,
.fz-md b,
.fz-md i,
.fz-md strong {
  font-size: 14px;
}
.fz-md p label {
  font-size: 14px;
}
.fz-md a:not(.btn) {
  font-size: 14px;
}
.fz-md ul {
  font-size: 14px;
}
.fz-md ul li a:not(.btn) {
  font-size: 14px;
}
.fz-lg {
  font-size: 16px;
}
.fz-lg h1,
.fz-lg h2,
.fz-lg h3,
.fz-lg h4,
.fz-lg h5,
.fz-lg h6 {
  font-size: 16px;
}
.fz-lg p,
.fz-lg b,
.fz-lg i,
.fz-lg strong {
  font-size: 16px;
}
.fz-lg p label {
  font-size: 16px;
}
.fz-lg a:not(.btn) {
  font-size: 16px;
}
.fz-lg ul {
  font-size: 16px;
}
.fz-lg ul li a:not(.btn) {
  font-size: 16px;
}
.fz-mg {
  font-size: 18px;
}
.fz-mg h1,
.fz-mg h2,
.fz-mg h3,
.fz-mg h4,
.fz-mg h5,
.fz-mg h6 {
  font-size: 18px;
}
.fz-mg p,
.fz-mg b,
.fz-mg i,
.fz-mg strong {
  font-size: 18px;
}
.fz-mg p label {
  font-size: 18px;
}
.fz-mg a:not(.btn) {
  font-size: 18px;
}
.fz-mg ul {
  font-size: 18px;
}
.fz-mg ul li a:not(.btn) {
  font-size: 18px;
}
.fz-mg-s {
  font-size: 20px;
}
.fz-mg-s h1,
.fz-mg-s h2,
.fz-mg-s h3,
.fz-mg-s h4,
.fz-mg-s h5,
.fz-mg-s h6 {
  font-size: 20px;
}
.fz-mg-s p,
.fz-mg-s b,
.fz-mg-s i,
.fz-mg-s strong {
  font-size: 20px;
}
.fz-mg-s p label {
  font-size: 20px;
}
.fz-mg-s a:not(.btn) {
  font-size: 20px;
}
.fz-mg-s ul {
  font-size: 20px;
}
.fz-mg-s ul li a:not(.btn) {
  font-size: 20px;
}
.fk-center-xy {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
}
.fk-center-xy > * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.fk-center-x {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  text-align: center;
}
.fk-center-y {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
}
.fk-smart .left-box,
.fk-smart .right-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
@media (max-width: 639px) {
  .fk-smart .left-box,
  .fk-smart .right-box {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 260px;
    background-size: 100% auto;
    background-position: center top;
  }
  .fk-smart .left-box {
    background-position: center bottom;
  }
  .fk-smart .right-box {
    background-position: center top;
  }
}
@media (min-width: 640px) {
  .fk-smart .left-box,
  .fk-smart .right-box {
    background-size: auto 80%;
  }
  .fk-smart .left-box {
    background-position: right center;
  }
  .fk-smart .right-box {
    background-position: left center;
  }
}
.fk-smart_vert .fk-smart__row {
  flex-wrap: wrap;
}
.fk-smart_vert .fk-smart__row div.left-box,
.fk-smart_vert .fk-smart__row div.right-box {
  width: 100%;
  background-size: 100% auto;
}
.fk-smart_vert .fk-smart__row div.left-box {
  padding-bottom: 0;
  background-position: center bottom;
}
.fk-smart_vert .fk-smart__row div.right-box {
  background-position: center top;
}
@media (min-width: 640px) {
  .fk-smart_left > .container,
  .fk-smart_left > .container-sm,
  .fk-smart_left > .container-lg {
    margin-left: 0;
  }
  .fk-smart_left > .container {
    width: 91%;
  }
  .fk-smart_left > .container-sm {
    width: 82%;
  }
  .fk-smart_left > .container-lg {
    width: 95.5%;
  }
}
@media (min-width: 640px) {
  .fk-smart_right > .container {
    width: 91%;
  }
  .fk-smart_right > .container-sm {
    width: 82%;
  }
  .fk-smart_right > .container-lg {
    width: 95.5%;
  }
}
.fk-smart_sm .fk-smart__row > div {
  min-height: 240px;
}
@media (min-width: 640px) {
  .fk-smart_md .fk-smart__row > div {
    min-height: 410px;
  }
}
@media (min-width: 640px) {
  .fk-smart_lg .fk-smart__row > div {
    min-height: 680px;
  }
}
/*# sourceMappingURL=fk-smart.css.map */