.display-none {
  display: none;
}
.display-block {
  display: block;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.direction-column {
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
}
.direction-row {
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
}
.flex-start {
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.flex-center {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-end {
  -webkit-align-items: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.mt-mr {
  margin-top: 7.5px;
}
.mt-xs {
  margin-top: 15px;
}
.mt-sm {
  margin-top: 20px;
}
.mt-md {
  margin-top: 30px;
}
.mt-lg {
  margin-top: 60px;
}
.mt-mg {
  margin-top: 90px;
}
.mt-mg-s {
  margin-top: 120px;
}
.mb-mr {
  margin-bottom: 7.5px;
}
.mb-xs {
  margin-bottom: 15px;
}
.mb-sm {
  margin-bottom: 20px;
}
.mb-md {
  margin-bottom: 30px;
}
.mb-lg {
  margin-bottom: 60px;
}
.mb-mg {
  margin-bottom: 90px;
}
.mb-mg-s {
  margin-bottom: 120px;
}
.ml-mr {
  margin-bottom: 7.5px;
}
.ml-xs {
  margin-bottom: 15px;
}
.ml-sm {
  margin-bottom: 20px;
}
.ml-md {
  margin-bottom: 30px;
}
.ml-lg {
  margin-bottom: 60px;
}
.ml-mg {
  margin-bottom: 90px;
}
.ml-mg-s {
  margin-bottom: 120px;
}
.mr-mr {
  margin-bottom: 7.5px;
}
.mr-xs {
  margin-bottom: 15px;
}
.mr-sm {
  margin-bottom: 20px;
}
.mr-md {
  margin-bottom: 30px;
}
.mr-lg {
  margin-bottom: 60px;
}
.mr-mg {
  margin-bottom: 90px;
}
.mr-mg-s {
  margin-bottom: 120px;
}
.pt-pr {
  margin-top: 7.5px;
}
.pt-xs {
  margin-top: 15px;
}
.pt-sm {
  margin-top: 20px;
}
.pt-md {
  margin-top: 30px;
}
.pt-lg {
  margin-top: 60px;
}
.pt-mg {
  margin-top: 90px;
}
.pt-mg-s {
  margin-top: 120px;
}
.pb-pr {
  margin-bottom: 7.5px;
}
.pb-xs {
  margin-bottom: 15px;
}
.pb-sm {
  margin-bottom: 20px;
}
.pb-md {
  margin-bottom: 30px;
}
.pb-lg {
  margin-bottom: 60px;
}
.pb-mg {
  margin-bottom: 90px;
}
.pb-mg-s {
  margin-bottom: 120px;
}
.pl-pr {
  margin-bottom: 7.5px;
}
.pl-xs {
  margin-bottom: 15px;
}
.pl-sm {
  margin-bottom: 20px;
}
.pl-md {
  margin-bottom: 30px;
}
.pl-lg {
  margin-bottom: 60px;
}
.pl-mg {
  margin-bottom: 90px;
}
.pl-mg-s {
  margin-bottom: 120px;
}
.pr-pr {
  margin-bottom: 7.5px;
}
.pr-xs {
  margin-bottom: 15px;
}
.pr-sm {
  margin-bottom: 20px;
}
.pr-md {
  margin-bottom: 30px;
}
.pr-lg {
  margin-bottom: 60px;
}
.pr-mg {
  margin-bottom: 90px;
}
.pr-mg-s {
  margin-bottom: 120px;
}
.fz-mr {
  font-size: 8px;
}
.fz-mr h1,
.fz-mr h2,
.fz-mr h3,
.fz-mr h4,
.fz-mr h5,
.fz-mr h6 {
  font-size: 8px;
}
.fz-mr p,
.fz-mr b,
.fz-mr i,
.fz-mr strong {
  font-size: 8px;
}
.fz-mr p label {
  font-size: 8px;
}
.fz-mr a:not(.btn) {
  font-size: 8px;
}
.fz-mr ul {
  font-size: 8px;
}
.fz-mr ul li a:not(.btn) {
  font-size: 8px;
}
.fz-xs {
  font-size: 10px;
}
.fz-xs h1,
.fz-xs h2,
.fz-xs h3,
.fz-xs h4,
.fz-xs h5,
.fz-xs h6 {
  font-size: 10px;
}
.fz-xs p,
.fz-xs b,
.fz-xs i,
.fz-xs strong {
  font-size: 10px;
}
.fz-xs p label {
  font-size: 10px;
}
.fz-xs a:not(.btn) {
  font-size: 10px;
}
.fz-xs ul {
  font-size: 10px;
}
.fz-xs ul li a:not(.btn) {
  font-size: 10px;
}
.fz-sm {
  font-size: 12px;
}
.fz-sm h1,
.fz-sm h2,
.fz-sm h3,
.fz-sm h4,
.fz-sm h5,
.fz-sm h6 {
  font-size: 12px;
}
.fz-sm p,
.fz-sm b,
.fz-sm i,
.fz-sm strong {
  font-size: 12px;
}
.fz-sm p label {
  font-size: 12px;
}
.fz-sm a:not(.btn) {
  font-size: 12px;
}
.fz-sm ul {
  font-size: 12px;
}
.fz-sm ul li a:not(.btn) {
  font-size: 12px;
}
.fz-md {
  font-size: 14px;
}
.fz-md h1,
.fz-md h2,
.fz-md h3,
.fz-md h4,
.fz-md h5,
.fz-md h6 {
  font-size: 14px;
}
.fz-md p,
.fz-md b,
.fz-md i,
.fz-md strong {
  font-size: 14px;
}
.fz-md p label {
  font-size: 14px;
}
.fz-md a:not(.btn) {
  font-size: 14px;
}
.fz-md ul {
  font-size: 14px;
}
.fz-md ul li a:not(.btn) {
  font-size: 14px;
}
.fz-lg {
  font-size: 16px;
}
.fz-lg h1,
.fz-lg h2,
.fz-lg h3,
.fz-lg h4,
.fz-lg h5,
.fz-lg h6 {
  font-size: 16px;
}
.fz-lg p,
.fz-lg b,
.fz-lg i,
.fz-lg strong {
  font-size: 16px;
}
.fz-lg p label {
  font-size: 16px;
}
.fz-lg a:not(.btn) {
  font-size: 16px;
}
.fz-lg ul {
  font-size: 16px;
}
.fz-lg ul li a:not(.btn) {
  font-size: 16px;
}
.fz-mg {
  font-size: 18px;
}
.fz-mg h1,
.fz-mg h2,
.fz-mg h3,
.fz-mg h4,
.fz-mg h5,
.fz-mg h6 {
  font-size: 18px;
}
.fz-mg p,
.fz-mg b,
.fz-mg i,
.fz-mg strong {
  font-size: 18px;
}
.fz-mg p label {
  font-size: 18px;
}
.fz-mg a:not(.btn) {
  font-size: 18px;
}
.fz-mg ul {
  font-size: 18px;
}
.fz-mg ul li a:not(.btn) {
  font-size: 18px;
}
.fz-mg-s {
  font-size: 20px;
}
.fz-mg-s h1,
.fz-mg-s h2,
.fz-mg-s h3,
.fz-mg-s h4,
.fz-mg-s h5,
.fz-mg-s h6 {
  font-size: 20px;
}
.fz-mg-s p,
.fz-mg-s b,
.fz-mg-s i,
.fz-mg-s strong {
  font-size: 20px;
}
.fz-mg-s p label {
  font-size: 20px;
}
.fz-mg-s a:not(.btn) {
  font-size: 20px;
}
.fz-mg-s ul {
  font-size: 20px;
}
.fz-mg-s ul li a:not(.btn) {
  font-size: 20px;
}
/*# sourceMappingURL=properties.css.map */