section.uk-section
    .uk-container
        h1 Или нет?
        p
            | Самая популярная программа международного студенческого обмена
            br
            | на период летних каникул в США
        .btn-box.mt-md
            a.btn.btn_inverse(href='#screen-need') Требования к участникам
            a.btn.btn_prim.btn_arrow(href='#screen-cta') Оставить заявку

