section.uk-section
    .uk-container

        header.uk-text-center
            h2 Селекторы
            a(href="" uk-icon="fk-1" class="fk-icon")

        div
            form
                label(for="1")
                    input(type="checkbox" id="1" class="uk-checkbox")
                    | Первый чекбокс

                label(for="2")
                    input(type="checkbox" id="2" class="uk-checkbox")
                    | Второй чекбокс

                label(for="3")
                    input(type="checkbox" id="3" class="uk-checkbox")
                    | Третий чекбокс

                label(for="4")
                    input(type="radio" id="4" class="uk-radio" name="45")
                    | Радио кнопка

                label(for="5")
                    input(type="radio" id="5" class="uk-radio" name="45")
                    | Радио кнопка

