section.uk-section
    .uk-container.uk-container-small

        header.uk-text-center
            h2  Блок с текстом

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aperiam, consequuntur cumque doloremque eius id iste itaque laudantium molestias natus non obcaecati #[a(href="") лучшая ссылка на планете] quibusdam soluta temporibus voluptatem? Deleniti harum modi nesciunt nisi odit, sequi. Accusamus atque dolores ea eius eligendi eos incidunt iure magnam, molestias praesentium, quidem quisquam, ut vitae voluptatem voluptatum. Aspernatur ea error facere fugiat illo illum impedit itaque libero maiores modi mollitia nisi nulla obcaecati officiis quae quisquam quod quos ratione repellat sequi sint, soluta tempore veritatis? Animi blanditiis cumque ea enim eos incidunt iure, laborum, libero molestias mollitia necessitatibus omnis, recusandae sequi? A aspernatur excepturi laboriosam quasi!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aperiam, consequuntur cumque doloremque eius id iste itaque laudantium molestias natus non obcaecati quibusdam soluta temporibus voluptatem? Deleniti harum modi nesciunt nisi odit, sequi. Accusamus atque dolores ea eius eligendi eos incidunt iure magnam, molestias praesentium, quidem quisquam, ut vitae voluptatem voluptatum. Aspernatur ea error facere fugiat illo illum impedit itaque libero maiores modi mollitia nisi nulla obcaecati officiis quae quisquam quod quos.