
.f-down-open:before { content: '\e800'; } /* '' */
.f-up-open:before { content: '\e801'; } /* '' */
.f-right-open:before { content: '\e802'; } /* '' */
.f-left-open:before { content: '\e803'; } /* '' */
.f-down-big:before { content: '\e804'; } /* '' */
.f-left-big:before { content: '\e805'; } /* '' */
.f-right-big:before { content: '\e806'; } /* '' */
.f-up-big:before { content: '\e807'; } /* '' */
.f-pencil:before { content: '\e808'; } /* '' */
.f-search:before { content: '\e809'; } /* '' */
.f-export:before { content: '\e80a'; } /* '' */
.f-link-1:before { content: '\e80b'; } /* '' */
.f-forward:before { content: '\e80c'; } /* '' */
.f-info-circled:before { content: '\e80d'; } /* '' */
.f-picture:before { content: '\e80e'; } /* '' */
.f-heart-empty-1:before { content: '\e80f'; } /* '' */
.f-heart:before { content: '\e810'; } /* '' */
.f-home:before { content: '\e811'; } /* '' */
.f-cancel-circled:before { content: '\e812'; } /* '' */
.f-cancel:before { content: '\e813'; } /* '' */
.f-play:before { content: '\e814'; } /* '' */
.f-phone:before { content: '\e815'; } /* '' */
.f-mail:before { content: '\e816'; } /* '' */
.f-doc:before { content: '\e817'; } /* '' */
.f-plus:before { content: '\e818'; } /* '' */
.f-ok:before { content: '\e819'; } /* '' */
.f-login:before { content: '\e81c'; } /* '' */
.f-attach:before { content: '\e81d'; } /* '' */
.f-at-1:before { content: '\e81e'; } /* '' */
.f-fire-station:before { content: '\e81f'; } /* '' */
.f-brush-alt:before { content: '\e820'; } /* '' */
.f-spin5:before { content: '\e838'; } /* '' */
.f-spin6:before { content: '\e839'; } /* '' */
.f-location:before { content: '\f031'; } /* '' */
.f-instagram-circled:before { content: '\f05e'; } /* '' */
.f-ok-circled:before { content: '\f06d'; } /* '' */
.f-lock-open-alt:before { content: '\f075'; } /* '' */
.f-print:before { content: '\f087'; } /* '' */
.f-check-empty:before { content: '\f096'; } /* '' */
.f-bookmark-empty:before { content: '\f097'; } /* '' */
.f-facebook:before { content: '\f09a'; } /* '' */
.f-menu:before { content: '\f0c9'; } /* '' */
.f-gplus:before { content: '\f0d5'; } /* '' */
.f-mail-alt:before { content: '\f0e0'; } /* '' */
.f-comment-empty:before { content: '\f0e5'; } /* '' */
.f-chat-empty:before { content: '\f0e6'; } /* '' */
.f-doc-text:before { content: '\f0f6'; } /* '' */
.f-angle-left:before { content: '\f104'; } /* '' */
.f-angle-right:before { content: '\f105'; } /* '' */
.f-angle-up:before { content: '\f106'; } /* '' */
.f-angle-down:before { content: '\f107'; } /* '' */
.f-circle-empty:before { content: '\f10c'; } /* '' */
.f-reply:before { content: '\f112'; } /* '' */
.f-reply-all:before { content: '\f122'; } /* '' */
.f-ok-squared:before { content: '\f14a'; } /* '' */
.f-doc-inv:before { content: '\f15b'; } /* '' */
.f-instagram:before { content: '\f16d'; } /* '' */
.f-vkontakte:before { content: '\f189'; } /* '' */
.f-dot-circled:before { content: '\f192'; } /* '' */
.f-behance:before { content: '\f1b4'; } /* '' */
.f-share:before { content: '\f1e0'; } /* '' */
.f-toggle-off:before { content: '\f204'; } /* '' */
.f-toggle-on:before { content: '\f205'; } /* '' */
.f-odnoklassniki:before { content: '\f263'; } /* '' */
.f-telegram:before { content: '\f2c6'; } /* '' */
.f-twitter:before { content: '\f309'; } /* '' */
.f-twitter-circled:before { content: '\f30a'; } /* '' */
.f-facebook-circled:before { content: '\f30d'; } /* '' */
.f-pinterest:before { content: '\f312'; } /* '' */
.f-pinterest-circled:before { content: '\f313'; } /* '' */
.f-wordpress:before { content: '\f31d'; } /* '' */
.f-comment:before { content: '\f4ac'; } /* '' */